
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}
header{
    background-color: #4ea0ff;
    background-image: url("../img /pattern.png");
    background-size: 25% auto;
    height: 100px;
    
}

.logo{
    margin-top: 40px;
    height: 50px;

}


main{
    margin-top: 20px;
}

h1{
    font-size: 38px;
    line-height: 40px;
}

.author{
    font-size: 18px;
    color: grey;
}

.author-name{
    color: blue;
}

.small-text{
    font-size: 12px;
}

figure{
    margin: 20px 0;
}

.main-text p {
    margin: 20px 0;
}

.main-text ul {
    margin: 30px 15px;
}
.main-text table {
    text-align: left;
    border-spacing: 0;
}

.main-text table thead {
    background-color: #20a9e5;
    color: white;
}

.main-text table .odd {
    background-color: #b1e5f2;
}

.main-text table th.half {
    width: 50%;
}